---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
     {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %} 
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile -%}
    <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
      {%- if page.profile.image %}
        {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

        {% if page.profile.image_circular %}
          {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
        {% else %}
          {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
        {% endif %}

        {% include figure.html 
        path=profile_image_path 
        class=profile_image_class
        alt=page.profile.image -%}
      {% endif -%}
      <div class="social">

        <div class="contact-icons" style="font-size: 3em;">
        {% include social.html %}
        </div>
        <div class="contact-note">
          {{ site.contact_note }}
        </div>

      </div>
      {%- if page.profile.address %}
      <div class="address">
        {{ page.profile.address }}
      </div>
      {%- endif %}
    </div>
    {%- endif %}

    <div class="clearfix">
      {{ content }}
    </div>


    {% if page.news -%}
    <!-- News -->
    {%- include news.html %}
    {%- endif %}
    {% if page.selected_papers -%}
      <!-- Selected papers -->
      {%- include selected_papers.html %}
    {%- endif %}
    {%- if page.social %}
    <!-- Social -->
    <!-- <div class="social">
      <div class="contact-icons">
      {% include social.html %}
      </div>

      <div class="contact-note">
        {{ site.contact_note }}
      </div>
      
    </div> -->
    {%- endif %}

    <div style="height: 20px;"></div>
    <div class="visitor-map" style="max-width: 306px; width: 100%; margin: 0 auto;">
      <style>
        .visitor-map #mapmyvisitors-widget .mapmyvisitors-visitors,
        .visitor-map #mapmyvisitors-widget .mapmyvisitors-date,
        .visitor-map #mapmyvisitors-widget .mapmyvisitors-bottom-text {
          color: #50a539 !important;
        }
      </style>
      <script type="text/javascript" id="mapmyvisitors" src="https://mapmyvisitors.com/map.js?cl=c4eda3&w=306&t=tt&d=z71cbnL9FMa97quHbJnuYCXV2JoD6Za4fjvHqsxeHXI&co=ffffff&cmo=aee0af&cmn=50a539&ct=50a539"></script>
    </div>
  </article>

</div>
